<div class="lich-date-picker-basic" [ngClass]="rootClass ? rootClass : ''">
  <div class="lich-date-picker-menu">
    <table>
      <tr>
        <td><input [ngClass]="showPopup && !year ? 'lich-date-picker-hight-light':''" type="text" name="year" class="lich-date-picker-year" placeholder="YYYY" [value]="year ? year : ''" (click)="cleanYear()" readonly></td>
        <td><input [ngClass]="showPopup && !month && year ? 'lich-date-picker-hight-light':''" type="text" name="month" class="lich-date-picker-month" placeholder="MM" [value]="month ? monthName: ''" (click)="month=undefined" readonly></td>
        <td><input [ngClass]="showPopup && !day && year && month? 'lich-date-picker-hight-light':''" type="text" name="day" class="lich-date-picker-day" placeholder="DD" [value]="day ? day : ''" (click)="day=undefined" readonly></td>
      </tr>
    </table>
  </div>

  <div class="lich-date-picker-popup" *ngIf="showPopup">

    <div *ngIf="!year && !month">
      <table>
        <tr *ngFor="let r of getDataAsMatrix(years, 5)">
          <td *ngFor="let i of r">
            <button *ngIf="i" (click)="year = i">{{i}}</button>
          </td>
        </tr>
      </table>
    </div>

    <table *ngIf="year && !month">
      <tr *ngFor="let r of getDataAsMatrix(months, 4)">
        <td *ngFor="let i of r">
          <button *ngIf="i" (click)="month = i">{{monthNames[i -1]}}</button>
        </td>
      </tr>
    </table>

    <table *ngIf="month">
      <tr>
        <td class="lich-date-picker-title" *ngFor="let dayName of weekNames">{{dayName}}</td>
      </tr>
      <tr *ngFor="let r of getDataAsMatrix(days, 7, firstDateOffset)">
        <td *ngFor="let i of r">
          <button *ngIf="i" [ngClass]="(isSpecialDate2(year,month, i) ? specialDayClass: '')" (click)="day = i">{{i}}</button>
        </td>
      </tr>
    </table>
  </div>
</div>