input {
  background-repeat: repeat-x;
  border: 0px solid;
  height: 25px;
  width: 125px;
}

.year {
  background-color: #BBBBBB
}

.month {
  background-color: #BBBBBB
}

.day {
  background-color: #BBBBBB
}

.year::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.year:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.year:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.year::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.selectedDate {
  background: aqua;
}

.specialDate {
  color: blue;
}

.popup {
  overflow-y: auto;
  height: 200px;
  width: 250px;
}