input {
  background-repeat: repeat-x;
  border: 0px solid;
}

.year {
  background-color: #DDDDDD;
  width: 32%;
  text-align: center;
}

.month {
  background-color: #DDDDDD;
  width: 32%;
  text-align: center;
}

.day {
  background-color: #DDDDDD;
  width: 32%;
  text-align: center;
}

.year::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.year:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.year:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.year::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.month::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.day::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  text-align: center;
}

.selectedDate {
  background: aqua;
}

.specialDate {
  color: blue;
}

.popup {
  overflow-y: auto;
}

.title {
  text-align: center;
}

.month-button {
  height: 18;
  width: 28;
}

table {
  width: 100%;
}

.menu {}