input {
  background-repeat: repeat-x;
  border: 0px solid;
  height: 25px;
  width: 125px;
}

.selectedDate {
  background: aqua;
}

.specialDate {
  color: blue;
}

.popup {
  overflow-y: auto;
  height: 178px;
  width: 250px;
}

.title {
  text-align: center;
}

.month-button {
  height: 18;
  width: 28;
}