<div>
  <p *ngIf="selectedDate && isSpecialDate(selectedDate)">Special Date Selected </p>
  <select name="year" [(ngModel)]="year">
    <option value="" disabled>Year</option>
    <option *ngFor="let y of years" value="{{y}}">{{y}}</option>
  </select>
  <select name="month" [(ngModel)]="month" [disabled]="!year">
    <option value="" disabled>Month</option>
    <option *ngFor="let m  of months" value="{{m}}">{{m}}</option>
  </select>
  <select name="day" [(ngModel)]="day" [disabled]="!month">
    <option value="" disabled>Day</option>
    <option *ngFor="let d  of days" value="{{d}}">{{d}}</option>
  </select>

  <div class="popup">
    <div *ngIf="!year && !month">
      <p class="title">Year</p>
      <table>
        <tr *ngFor="let r of getDataAsMatrix(years, 5)">
          <td *ngFor="let i of r">
            <button *ngIf="i" (click)="year = i">{{i}}</button>
          </td>
        </tr>
      </table>
    </div>

    <table *ngIf="year && !month">
      Month
      <tr *ngFor="let r of getDataAsMatrix(months, 4)">
        <td *ngFor="let i of r">
          <button *ngIf="i" (click)="month = i">{{monthNames[i -1]}}</button>
        </td>
      </tr>
    </table>

    <table *ngIf="month">
      Day
      <tr>
        <th *ngFor="let dayName of weekNames">{{dayName}}</th>
      </tr>
      <tr *ngFor="let r of getDataAsMatrix(days, 7, firstDateOffset)">
        <td *ngFor="let i of r">
          <button *ngIf="i" [ngClass]="(isSpecialDate2(year,month, i) ? 'specialDate ': '') + ' ' + (isSelectedDate(year,month, i) ? 'selectedDate': '')" (click)="day = i">{{i}}</button>
        </td>
      </tr>
    </table>
  </div>
</div>
